body {
    font-family: "Comfortaa" , sans-serif;
    background-color: #14151B;
    color:#fff
}
*{
    color:#fff;
    font-family: "Comfortaa" , sans-serif;
}

/* Style the tab */
.tab {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #20212B;
    background-color: #20212B;

}

.tab button {
    border-radius: 8px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
a:hover {
    color: #8588CB;
}
a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
a:before {
    color: rgba(var(--bright-color), var(--hundred)) !important;
    position: absolute;
    top: 0;
    right: 10px !important;
    margin-left: 240px;
    background: linear-gradient(270deg, rgba(var(--dark-color), var(--hundred)), rgba(var(--dark-color), 0.3));
    width: 8px;
    margin: 10px 1px;
    height: 8px;
    border-radius: 50%;
    font-size: 0;
    transition: 0.2s ease, -webkit-0.2s ease, width 0s, margin 0s, padding 0s, font-size 0s, height 0s, top 0s, left 0s,line-height 0s, min-height 0s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    border-radius: 8px;
    background-color: #8588CB;
}

/* Create an active/current tablink class */
.tab button.active {
    border-radius: 8px;
    background-color: #8588CB;
}

/* Style the tab content */
.tabcontent {
    border-radius: 8px;
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.topright:hover {color: red;}

.link{
    display:block;
    text-decoration:none;
    border-radius: 20px;
    font-size: 100%;
    color: #f8f8f8;
    background: #20212B;
    height: 28px;
    margin: 10px 5px 0 5px;
    padding: 2px 2px 2px 15px;
    display: flex;
    align-items: center;
}

@media screen and (max-width:400px) {
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 16px 13px;
        transition: 0.3s;
        font-size: 12px;
    }
    #rus > h3,
    #inf > h3,
    #math > h3{
        display: table;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    a{
        font-size: 15px;
    }
}
